body {
    max-width: 650px; margin: auto;
}
h1 {
    font-family: Palatino;
    font-size: 1.75em;
    font-weight: bold;
    line-height: 1;
    margin-top: 0.5em;
    margin-bottom:0.5em;
}
h2 {
    font-family: Palatino;
    font-weight: normal;
}
p {
    font-size: 1.25em;
    font-family: Palatino;
    text-align:justify;
    font-style: normal; 
    # color: rgb(105, 106, 82);
}